.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 230px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}
.box::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120%;
  background: linear-gradient(#00ccff, #d500f9);
  animation: rotates 4s linear infinite;

  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}
@keyframes rotates {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box::after {
  content: "";
  position: absolute;
  background: #0e1538;
  inset: 5px;
  border-radius: 20px;

  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}
.box h2 {
  color: white;
  font-size: 4em;
  text-shadow: 2px 2px pink;
  z-index: 1;
}

.hexagon {
  width: 120px;
  height: 100px;
  background-color: #ff0000;
  position: relative;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  margin: 50px;
}
